<div class="bShadow-64">
  <footer>
    <div class="container">
      <div class="row">
        <section class="column  column-75">
          <h3>Sobre Food Track</h3>
          <p>Esta aplicação tem como objetivo servir como um diário alimentar simples para pessoas que precisam de
            acompanhamento alimentar por variadas razões.</p>
        </section>
        <section class="column">
          <h4>Fale conosco</h4>
          <ul class="links">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Github</a></li>
          </ul>
        </section>
      </div>
      <div class="copyright">
        &copy; Untitled. Photos <a href="https://unsplash.com">Unsplash</a>.
      </div>
    </div>
  </footer>
</div>
</body>

</html>