<div class="bShadow-64">
  <header class="main-header">
    <div class="logo"><a href="/">Food Track</a></div>
    <nav class="main-header__nav">

      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a class="<%= path === '/my-diary' ? 'active' : '' %>" href="/">Meu diário</a>
        </li>

        <li class="main-header__item">
          <a class="<%= path === '/register-meal' ? 'active' : '' %>" href="/register-meal">Registrar Refeição</a>
        </li>
      </ul>


      <ul class="main-header__item-list">
        <% if (!isAuthenticated) { %>
        <li class="main-header__item">
          <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Entrar</a>
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Registre-se</a>
        </li>
        <% } else { %>
        <li class="main-header__item">
          <form action="/logout" method="post">
            <button type="submit">Sair</button>
          </form>
        </li>
        <% } %>
      </ul>

    </nav>
  </header>
</div>