@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
.banner {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-color: #cccccc;
  position: relative;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text {
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Dosis', sans-serif;
  letter-spacing: normal;
  font-size: xx-large;
  background-color: teal;
  padding: 40px;
  border-radius: 8px;
}

.banner-text h1 {
  font-size: 90px;
  font-weight: 500;
}

.banner-text-2 {
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.index-banner {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-color: #cccccc;
  position: relative;
  margin-bottom: -50px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 80px !important;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.index-inform {
  background-color: #f17808;
  padding: 30px 0 5px;
  align-items: center;
  color: rgb(253, 253, 253);
}