img {
  padding: 5px;
  width: 500px;
}

.login-form {
  padding-top: 1.5rem;
}


.login-form form {
  padding-top: 30px;
}

form {
  display: inline;
}

.image img {
  height: 100%;
}

main {
  padding: 6rem;

} 